app = "gundam-buyer"
primary_region = "lax"

[build]
  dockerfile = "Dockerfile"

[env]
  PORT = "5000"
  HEADLESS = "true"

[[services]]
  internal_port = 5000
  protocol = "tcp"

  [[services.ports]]
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443
